*.csv
*.pkl
*.pyc
*.stl
*.dae
*.pyc
*.urdf
*.nbc
*.nbi
*.xml
*.in
*.pyd
*.json
*.docx
*.pdf
*.pptx
*.xlsx
*.drawios
*.zip
*.mvnx
*.mvn
*.mvno
*.mvns
*.mvna
/force_tracking/electronics/com.github.pcbway.PCBWay-Plug-in-for-Kicad_v1.0.2
/force_tracking/electronics/kicad_templates-master